
  <mat-card  class="header_style">
    <button mat-icon-button (click)="sidenav.toggle()" (click)="valuChange()" class="icon_styles" >
      <mat-icon class="icon_style" [style.display]="flag==false?'none':''">menu</mat-icon>
      <mat-icon class="icon_style"  [style.display]="flag==false?'':'none'" >close</mat-icon>
    </button>
   <div class="child_style">
    <button mat-button routerLink="/child2" >Child2</button>
    <button mat-button routerLink="/child1">Child1</button>
    <button mat-button routerLink="/child3">Child3</button>
    <button mat-button routerLink="/child4">Child4</button>
    <button mat-button routerLink="/child5">Child5</button>
   </div>
  </mat-card>

  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav #sidenav class="drawer_style" mode="over" >
      <mat-nav-list class="list_item">
        <a mat-list-item routerLink="/">Home</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/about">About</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/contact">Contact</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content_style">
      <!-- <app-child1></app-child1> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>