<section class="example-section" style="display: grid">

  <mat-checkbox class="example-margin"
  (change)="checkFilters($event,'inventory')"
  [(ngModel)]="checkboxDisplayFlag1"
  >Inventory Id</mat-checkbox>

  <span  [style.display]="checkboxDisplayFlag1===true? '':'none'"
    class="example-list-section">
    <ul style="display: grid; margin-top: -4px" >
      <mat-checkbox [(ngModel)]="myCloneData[1].filterType.selectedFilters1.value" (change)="checkBoxChangeDetection($event,'latest')" value="latest" [checked]=true>Latest</mat-checkbox>
      <mat-checkbox [(ngModel)]="myCloneData[1].filterType.selectedFilters2.value" (change)="checkBoxChangeDetection($event,'moderate')" value="moderate">Moderate</mat-checkbox>
      <mat-checkbox [(ngModel)]="myCloneData[1].filterType.selectedFilters3.value" (change)="checkBoxChangeDetection($event,'old')" value="old">Old</mat-checkbox>
    </ul>
  </span>

  <mat-checkbox class="example-margin"
   value="Model"
   (change)="checkFilters($event,'model')"
   [(ngModel)]="checkboxDisplayFlag2"
   >Model</mat-checkbox>
  <span class="example-list-section"  [style.display]="checkboxDisplayFlag2===true? '':'none'">
    <ul style="display: grid; margin-top: -4px">
      <mat-checkbox  [(ngModel)]="myCloneData[2].filterType.selectedFilters1.value" (change)="checkBoxChangeDetection($event,'range')" value="range">Range Rover</mat-checkbox>
      <mat-checkbox [(ngModel)]="myCloneData[2].filterType.selectedFilters2.value" (change)="checkBoxChangeDetection($event,'bmws')" value="bmws">BMW Series</mat-checkbox>
      <mat-checkbox [(ngModel)]="myCloneData[2].filterType.selectedFilters3.value" (change)="checkBoxChangeDetection($event,'dodge')" value="doge">Dodge</mat-checkbox>
    </ul>
  </span>
  <mat-checkbox class="example-margin" 
  (change)="checkFilters($event,'make')"
  [(ngModel)]="checkboxDisplayFlag3"
  value="Make">Make</mat-checkbox>
  <span class="example-list-section"  [style.display]="checkboxDisplayFlag3===true? '':'none'">
    <ul style="display: grid; margin-top: -4px">
      <mat-checkbox [(ngModel)]="myCloneData[3].filterType.selectedFilters1.value" (change)="checkBoxChangeDetection($event,'mercedes')" value="merced">Mercedes</mat-checkbox>
      <mat-checkbox [(ngModel)]="myCloneData[3].filterType.selectedFilters2.value" (change)="checkBoxChangeDetection($event,'bmw')" value="bmw">BMW</mat-checkbox>
      <mat-checkbox [(ngModel)]="myCloneData[3].filterType.selectedFilters3.value" (change)="checkBoxChangeDetection($event,'maruti')"  value="maruti">Maruti</mat-checkbox>
    </ul>
  </span>
 <button mat-stroked-button (click)="getobjectvalue()">get value</button>
</section>
